/* PALETTE COLORI
Light blue: rgb(173, 216, 230)
Goldenrod: rgb(218, 165, 32)
Navy blue: rgb(0, 0, 139)
Violet (web color): rgb(238, 130, 238)
Pink: rgb(253, 190, 195)
Dodger blue: rgb(30, 144, 255)
Timberwolf: rgb(211, 211, 211)
Forest green: rgb(34, 139, 34)
Light coral: rgb(240, 128, 128)
Light sea green: rgb(32, 178, 170)
Aquamarine: rgb(124, 242, 213)
Eerie black: rgb(35, 39, 42)
 */
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
 }
 .container {
    width: 100%;
    height: 100vh;
    background-color: white;
 }
 .jumbo {
   background-image: url(../img/jumbo.png);
   height: 100%;
   background-size: cover;
   background-repeat: no-repeat;
 }
 /*LOGO IN ALTO */
 .row1 {
    height: 10%;
    width: 100%;
    display: flex;
 }
 .container-row1 {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    height: 50%;
    border: 1px dashed;
 }
 .col1 {
    display: flex;
    justify-content: flex-start;
    width: 20%;
    padding: 5px;
    align-items: center;
    margin-right: 35%;
 }
 .col2 {
    display: flex;
    justify-content: center;
    width: 60%;
    padding: 5px;
    align-items: center;
    gap:20px;
    border-left: 1px dashed;
    border-right: 1px dashed;
}
.col2 a {
    text-decoration: none;
    color: white;
}
 .col3 {
    display: flex;
    justify-content: flex-end;
    width: 20%;
    padding: 5px;
    align-items: center;
    margin-left: 35%;
 }
 .col3 .accesso {
   background-color: white;
   border-radius: 16px;
   padding: 8px 12px;
   display: flex;
   justify-content: center;
   align-items: center;
 }
 /* HEADER */
 .row2 {
    display: flex;
 }
 .col4 {
    margin: auto;    
 }

 .col4 h1 {
   display: flex;
   justify-content: center;
   margin: 5%;
   font-size: 48px;
   color: white;
 }

 .col4 p {
   color: white;
   text-align: center;
   font-size: 24px;
   line-height: 150%;
 }

 .col4 .pulsanti {
   margin-top: 4%;
   display: flex;
   justify-content: center;
   font-weight: bold;
 }

 .col4 .download {
   display: flex;
   background-color: white;
   justify-content: center;
   align-items: center;
   width: 22%;
   padding: 10px 20px;
   border-radius: 20px;
   margin: 0 3%;
 }
 
 .col4 .download::before {
   content: ' \27A1';
   transform: rotate(90deg);
   -webkit-transform: rotate(90deg);
   margin-right: 5%;
 }

 .col4 .open-browser {
   display: flex;
   background-color: black;
   color: white;
   justify-content: center;
   align-items: center;
   width: 30%;
   padding: 10px 20px;
   border-radius: 20px;
   margin: 0 3%;
 }
 .col5 {
   width: 55%;
   display: flex;
}
.col6 {
   width: 30%;
}
.col6 h1 {
  margin-bottom: 5%;
  font-size: 48px;
}

.col6 p {
  font-size: 20px;
  font-weight: 500;
}
 /* PRIMA E TERZA SEZIONE */
 .row3 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5% 0;
 }
 .row3 .col5 {
   padding-bottom: 5%;
 }

 /* SECONDA SEZIONE */
 .row4 {
    background-color: rgb(211, 211, 211);
/*     height: 50%; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5% 0;
 }

 .row4 .col6 {
   padding-bottom: 10%;
 }
 /* QUARTA SEZIONE */
 .row5 {
    background-color: rgb(211, 211, 211);
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .col7 {
    height: 90%;
    width: 50%;
    background-color: rgb(34, 139, 34);
 }
 /* FOOTER */
 .row6 {
    background-color: rgb(35, 39, 42);
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid white;
 }
 .col8 {
    height: 90%;
    width: 14%;
    background-color: rgb(240, 128, 128);
    border: 1px dotted;
 }
 .col9 {
    height: 90%;
    width: 9%;
    background-color: rgb(32, 178, 170);
    border: 2px dotted white;
 }
 /* LOGO IN BASSO */
 .row7 {
    background-color: rgb(35, 39, 42);
    height: 7%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
 }
 .col10 {
    height: 70%;
    width: 25%;
    background-color: rgb(124, 242, 213);
    display: flex;
    justify-content: flex-start;
    align-items: center;
 }
 .col10 button {
    padding: 0 8px;
    height: 40%;  
    border: 2px dotted black;
    background-color: rgb(255, 182, 193);
 }
 .col11 {
    height: 70%;
    width: 25%;
    background-color: rgb(124, 242, 213);
    display: flex;
    justify-content: flex-end;
    align-items: center;
 }
 .col11 button {
    padding: 0 8px;
    height: 40%;
    border: 2px dotted black;
    background-color: rgb(255, 182, 193);    
 }
